.Root {
  min-height: 100vh;
  width: 100vw;

  background-color: rgb(39, 40, 34);
  font-family: "open-sans", serif;
  font-size: 40px;
  color: white;

  display: flex;

  justify-content: center;
  align-items: center;
}

.Root a {
  text-decoration: none;
}

.Root img {
  position: absolute;
  top: 25px;
  right: 25px;
  filter: invert();
}

.info-page {
  padding: 100px;
}

#title {
  position: absolute;
  top: 5px;
  left: 50px;

  font-size: 30px;

  transition: color 0.1s ease-in-out;
}

#title:hover {
  color:rgb(162, 226, 46);
}

.Landing {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.Keyword {
  color: rgb(102, 206, 200);
}

.Keyword-2 {
  color: rgb(249, 38, 93);
}

.Method-Class {
  color: rgb(162, 226, 46);
  transition: font-size 0.25s ease-in-out;
}

.Method-Class:hover {
  color: white;
  font-size: 103%;
}

.String {
  color: rgb(225, 212, 109);
}

.Values {
  color: rgb(174, 129, 248);
}

.Parameters {
  color: rgb(253, 142, 33);
}

.Comment {
  color: rgb(117, 113, 88);
}

.definition {
  padding-left: 100px;
}

.skills-and-interests {
  font-size: 30px;
}

.projects {
  font-size: 30px;
}

@font-face {
  font-family: "open-sans";
  src: url('../public/font/Menlo-Regular.ttf');
}
